/* :root {
  filter: invert(100%);
} */


.version{
  text-align: center;
  font-weight:bold;
  font-size: 12px;
  color: white;
  text-shadow: 1px 1px black;

}

.addbutton {
  text-align: center;
}


.App {
  text-align: center;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
  margin-top: 40px;
  margin-bottom: -30px;
  padding: 0px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.icon-html {
  font-size:20px;
  text-align: center;
  margin-bottom: 20px;
  color: white;
}

.text-dc {
  /* font-size:15px; */
  text-align: center;
  /* font-weight: 300; */
  font-weight:500;
  /* margin-top: -30px; */
}

.text-dc:hover {
  color: #4857f7;
  font-weight: 900;
}

@media (prefers-reduced-motion: no-preference) {
  .logofooter {
    font-size: 12px;
    color:#2c6cda;
    margin-right: 5px;
    animation: App-logo-spin infinite 20s linear;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .github {
    font-size: 15px;
    color: black;
    margin-right: 5px;
    /* animation: App-logo-spin infinite 20s linear; */
  }
}

.root{
  max-width: 481px;
  
}


.centrado {
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;  
}

/*  ######################################   MEDIA QUERY  #####################################################
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  /* CSS */
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  /* CSS */
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  /* CSS */
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  /* CSS */
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  /* CSS */
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  /* CSS */
  
}