.TodoItem {
    background-color: #FAFAFA;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 24px; */
    
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.15);
    border-radius: 20px;
}

@media (max-width: 480px) {
    .TodoItem{
        width: 320px;
    }
}

@media(min-width: 480px) {
    .TodoItem{
        width: 450px;
    }
}

.TodoItem-p {
    margin: 8px 0 8px 8px;
    width: calc(100% - 120px);
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
}

.TodoItem-p--complete {
    text-decoration: line-through;
}

.Icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    font-size: 24px;
    font-weight: bold;
    /* background-color: #CCC; */
}

.Icon-check {
    position: absolute;
    left: 12px;
    font-size: 50px;
}

.Icon-check--active {
    color: #4caf50;
}

.Icon-check--inactive {
    color: red;
    font-size: 50px;
}

.Icon-delete {
    position: absolute;
    top: -7px;
    right: 0;
    font-size:25px;
}

.Icon-delete:hover {
    color: red;
    transform: scale(1.3);
}

.Icon-edit {
    position: absolute;
    top: -6px;
    right: 10%;
    font-size:25px;
}

.Icon-edit:hover {
    color: rgb(80, 80, 255);
    transform: scale(1.3);
}